@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#phrase{
    font-family: 'Abril Fatface', cursive;
}

#top-title{
    font-family: 'TmonMonsori';
}

.text-xl{
    font-size: 1.5rem;
}

/*형광펜 위로 올라오는 에니메애션*/
.highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
.highlight:hover{
background-size: 100% 100%;
}
/*형광펜 위로 올라오는 에니메애션:끝*/
/* 출처 : https://goodbypoor.tistory.com/162 */